body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  #content {
    flex: 1;
    padding: 16px;
  }

  #navbar {
    background-color: #dadadada;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  #navbar a {
    color: #000000;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    flex: 1;
  }

  #navbar a:hover {
    background-color: #787777;
    color: #F29325;
  }

  #navbar #option1 {
    background-color: #ffffff00;
  }
  #navbar #option1:hover {
    background-color: #F4E2DE66;
  }

  #navbar #option2 {
    background-color: #ffffff00;
  }
  #navbar #option2:hover {
    background-color: #F4E2DE66;
  }

  #navbar #option3 {
    background-color: #ffffff00;
  }
  #navbar #option3:hover {
    background-color: #F4E2DE66;
  }
